<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts App</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        td,
        th {
            border: 1px solid black;
            padding: 4px;
        }
    </style>
</head>

<body>
    <h1>Contacts App</h1>

    {{ block "search-contacts-form" . }}
    <form action="/contacts" method="get" class="tool-bar">
        <label for="SearchTerm">Search Term</label>
        <input type="search" id="SearchTerm" name="SearchTerm" value="{{ .SearchTerm }}" />
        <input type="submit" value="Search" />
    </form>
    {{ end }}

    <p><a href="/contact/form">Add Contact</a></p>

    {{ if .Contacts }}
    <table>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range .Contacts }}
            <tr>
                <td>{{ .FirstName }}</td>
                <td>{{ .LastName }}</td>
                <td>{{ .Phone }}</td>
                <td>{{ .Email }}</td>
                <td><a href="/contact/form?Id={{ .Id }}">📝</a>
                    <a href="/contact?Id={{ .Id }}">🪪</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    <p>No Contacts</p>
    {{ end }}
</body>

</html>