<!DOCTYPE html>
<html lang="en">

{{ block "head" . }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/vendored/htmx.js"></script>
    <link rel="stylesheet" href="/public/pico.classless.css">
    <title>Contacts App</title>
</head>
{{ end }}

<body hx-boost="true">
    {{ block "header" . }}
    <header>
        <h1>Contacts App</h1>
    </header>
    {{ end }}
    {{ block "main" . }}
    <main>
        <p>MAIN</p>
    </main>
    {{ end }}
    {{ block "footer" . }}
    <footer>I 🩵 HTMX</footer>
    {{ end }}
</body>

</html>