<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    {{ define "main" }}
    <main>
        {{ with .ContactForm }}
        <h2>Editing: {{ .LastName }}, {{ .FirstName }}</h2>
        <form action="{{ $.URLs.ContactForm }}" method="post">
            <!-- TODO embed Id in URL and remove hidden input -->
            <input type="hidden" name="Id" value="{{ .Id }}">
            <fieldset>
                <legend>Contact Values</legend>
                <p>
                    <label for="Email">Email</label>
                    <input name="Email" id="Email" type="email" placeholder="Email" value="{{ .Email }}"
                        hx-patch="{{ $.URLs.PatchContactEmail }}" hx-target="next .error">
                    <span class="error">{{ .Errors.Email }}</span>
                </p>
                <p>
                    <label for="FirstName">First Name</label>
                    <input name="FirstName" id="FirstName" type="text" placeholder="First Name"
                        value="{{ .FirstName }}">
                    <span class="error">{{ .Errors.FirstName }}</span>
                </p>
                <p>
                    <label for="LastName">Last Name</label>
                    <input name="LastName" id="LastName" type="text" placeholder="Last Name"
                        value="{{ .LastName }}">
                    <span class="error">{{ .Errors.LastName }}</span>
                </p>
                <p>
                    <label for="Phone">Phone</label>
                    <input name="Phone" id="Phone" type="text" placeholder="Phone" value="{{ .Phone }}">
                    <span class="error">{{ .Errors.Phone }}</span>
                </p>
                <button>Save</button>
            </fieldset>
        </form>
        {{ if $.URLs.DeleteContact }}
        <button hx-delete="{{ $.URLs.DeleteContact }}" hx-target="body" hx-push-url="true"
            hx-confirm="Do you want to delete '{{ .LastName }}, {{ .FirstName }}'?"
            hx-trigger="click, keyup[ctrlKey && key == 'd'] from:body">Delete</button>
        {{ end }}
        {{ end }}
        <p>
            <a href="{{ $.URLs.ContactList }}">Back</a>
        </p>
    </main>
    {{ end }}
</body>

</html>