<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    {{ define "main" }}
    <main>
        <h1>Contact</h1>

        {{ with .Contact }}
        <h2>{{ .LastName }}, {{ .FirstName }}</h2>
        <div>
            <div>Phone: <span>{{ .Phone }}</span></div>
            <div>Email: <span>{{ .Email }}</span></div>
        </div>
        {{ end }}
        <p>
            <a href="{{ $.URLs.ContactForm }}">Edit</a>
            <a href="{{ $.URLs.ContactList }}">Back</a>
        </p>
    </main>
    {{ end }}
</body>

</html>