<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    {{ define "main" }}
    <main>
        <h2>Contact</h2>
        <form action="/contact/form" method="post">
            <input type="hidden" name="Id" value="{{ .Id }}">
            <fieldset>
                <legend>Contact Values</legend>
                <p>
                    <label for="Email">Email</label>
                    <input name="Email" id="Email" type="email" placeholder="Email" value="{{ .Email }}">
                    <span class="error">{{ .Errors.Email }}</span>
                </p>
                <p>
                    <label for="FirstName">First Name</label>
                    <input name="FirstName" id="FirstName" type="text" placeholder="First Name"
                        value="{{ .FirstName }}">
                    <span class="error">{{ .Errors.FirstName }}</span>
                </p>
                <p>
                    <label for="LastName">Last Name</label>
                    <input name="LastName" id="LastName" type="text" placeholder="Last Name"
                        value="{{ .LastName }}">
                    <span class="error">{{ .Errors.LastName }}</span>
                </p>
                <p>
                    <label for="Phone">Phone</label>
                    <input name="Phone" id="Phone" type="text" placeholder="Phone" value="{{ .Phone }}">
                    <span class="error">{{ .Errors.Phone }}</span>
                </p>
                <button>Save</button>
            </fieldset>
        </form>
        <form action="/contact/?Id={{ .Id }}" method="delete" hx-boost="true"
            hx-trigger="click, keyup[ctrlKey && key == 'd'] from:body">
            <input type="hidden" name="tag" value="taggd">
            <button>Delete</button>
        </form>

        <p>
            <a href="/contact/list" hx-boost="true">Back</a>
        </p>
    </main>
    {{ end }}
</body>

</html>